{% extends "base.njk" %}

{% block content %}
<div class="" style="background-color: #FFF7D8;">
<div class="container sp">
    <div class="row jusify-content-md-center">
        <div class="col-md-10">
           
           {{ content | safe }}
           
             </div>
    </div>
</div>
</div>
{% endblock content %}
