{% extends "layouts/simple.njk" %}

{% block postContent %}

<div class="service-area spb">
    <div class="container">
        
        <div class="row">

            {% for vacature in collections.vacatures %}
            <div class="single-portfolio col-md-4">
                <div class="inner">
                    <div class="portfolio-img">
                        <img style="border-radius: 10%;" decoding="async" src="{{ vacature.data.image }}" alt="{{ vacature.data.title }}" loading="lazy">
                        <div class="hover-content">
                            <div>
                                <a href="{{ vacature.data.url }}" class="button">Lees verder</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="{{ vacature.data.url }}"><h3>{{ vacature.data.title }}</h3></a>
                        <span>{{ vacature.data.description }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
         </div>
    </div>
</div>   

{% endblock postContent %}