---
layout: "base.njk"
title: "Over The Next Chapter"
description: ""
backgroundImage: "/assets/img/bg.jpg"
---
   
       
    <div class="about-area sp">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-content">
                    <h3 style="color: #37b4ce">The Next Chapter ontzorgt organisaties.</h3>
                    <p>De specialisten van The Next Chapter zijn ervaren developers met ruimte expertise binnen hun vakgebied. We werken samen met Nederlandse specialisten en hebben daarnaast verschillende teams in het buitenland. Onze mensen zijn hooggekwalificeerd en communicatief vaardig, geven advies en voeren uit, maar zijn bovenal mensen die vertrouwen weten te wekken. Wij regelen het projectmanagement en alle randzaken, zodat jij direct met onze specialisten aan de slag kunt. </p>
                    
                    
                </div>
            </div>
            
        </div>
    </div>
</div>    

   <!--div class="tabs-area spb">
    <div class="container">
        <ul class="nav tabs-nav" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#mission">
                    <i class="fa fa-puzzle-piece"></i>
                    <span>Onze Missie</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#vision">
                    <i class="fa fa-binoculars"></i>
                    <span>Onze visie</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#history">
                    <i class="fa fa-qrcode"></i>
                    <span>Onze geschiedenis</span>
                </a>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="mission" role="tabpanel">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/img/beeldmerk.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <p>When I was just starting 6th grade I got my first job. Paperboy! Boy, was I excited. At that time I had spent a lot of time actually playing the video official game Paperboy disked.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. You would need to research online, for newspapers that are in your area.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="vision" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>When I was just starting 6th grade I got my first job. Paperboy! Boy, was I excited. At that time I had spent a lot of time actually playing the video official game Paperboy disked.</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                        </div>
                        <div class="col-md-6">
                            <p>When I was just starting 6th grade I got my first job. Paperboy! Boy, was I excited. At that time I had spent a lot of time actually playing the video official game Paperboy disked.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. You would need to research online, for newspapers that are in your area.</p>
                        </div>
                    </div>
            </div>
            <div class="tab-pane fade" id="funds" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>When I was just starting 6th grade I got my first job. Paperboy! Boy, was I excited. At that time I had spent a lot of time actually playing the video official game Paperboy disked.</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="http://lorempicsum.com/simpsons/490/200/3" alt="">
                        </div>
                    </div>
            </div>
            <div class="tab-pane fade" id="history" role="tabpanel">
                <div class="row">
                    <div class="col-md-6">
                        <img src="http://lorempicsum.com/simpsons/490/100/3" alt="">
                        <br>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>When I was just starting 6th grade I got my first job. Paperboy! Boy, was I excited. At that time I had spent a lot of time actually playing the video official game Paperboy disked.</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. You would need to research online, for newspapers that are in your area.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>    

<div class="spb">
        <div class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 single-brand">
                <div class="inner">
                    <a href="#">
                        <img src="assets/img/brand1.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 single-brand">
                <div class="inner">
                    <a href="#">
                        <img src="assets/img/brand2.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 single-brand">
                <div class="inner">
                    <a href="#">
                        <img src="assets/img/brand3.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 single-brand">
                <div class="inner">
                    <a href="#">
                        <img src="assets/img/brand4.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
 </div>   
</div-->
   