---
layout: "layouts/simple.njk"
title: "Over The Next Chapter"
description: ""
---
   
       
    <div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-content">
                    <h1 style="color: #717C7D">The Next Chapter werft schaarse IT specialisten.</h1>
                    <h2 style="color: #717C7D">...en daar zijn we goed in.</h3>
<br>
                    <p>Onze ervaren IT recruiters werven de beste software developers, engineers en digitale specialisten</p>
                    <p>Wij bieden de volgende diensten:</p>
                    <ul>
                        <li>Corporate Recruitment as a Service</li>
                        <li>Deta-Vast</li>
                        <li>Werving en Selectie</li>
                        <li>Relocation</li>
                    </ul>                   
                </div>
            </div>
            
        </div>
    </div>
</div>    

   
   