---
layout: "base.njk"
title: "Team as a Service"
description: "Huur developers in met Teams as a Service &amp; Support"
backgroundImage: "/assets/img/bg.jpg"
---
   
<div class="about-area sp">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-content">
                    <h5 style="color: #37b4ce">The Next Chapter zet digital teams op voor web en app development projecten</h5>
                    <h6 style="color: #37b4ce">Flexibel, schaalbaar en met ervaren specialisten.</h6>
                    <p>Op zoek naar de juiste specialisten voor jouw development project? Met Teams as a Service helpt The Next Chapter je bij uitdagingen op personeelsgebied. We zetten flexibele, inhouse teams van developers op voor elk web en app development project. Onze digital teams zijn multidisciplinair en samengesteld op basis van een beproefde aanpak, specifiek om het doel van de klant te realiseren. Laat ons weten welke expertises je zoekt en wij stellen binnen twee dagen een team voor dat direct bij jouw organisatie aan de slag kan.</p>
                    <p>De specialisten van The Next Chapter werken als team onder regie van de Product Owner bij de klant. Dat stelt de klant in staat zelf grip op het proces en de voortgang te houden. Het team kan daarbij op locatie of remote werken en makkelijk op- en afgeschaald worden. Zijn er gedurende het project andere specialisten nodig? Binnen 48 uur zitten ze in jouw team. Voor elke fase van je project zorgt The Next Chapter voor de juiste expertise en continuïteit binnen het project. </p>
                </div>
            </div>
            <div class="col-md-4">
                <form action="#" name="contact-page" netlify class="contact-form-staffing">
                    <div class="row">
                        <div class="col-lg-12">
                            <input name="name" type="text" placeholder="Naam">
                        </div>
                        <div class="col-lg-12">
                            <input name="email" type="email" placeholder="Email">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" name="subject" placeholder="Onderwerp">
                        </div>
                        <div class="col-lg-12">
                            <input type="textelt" name="telefoonnummer" placeholder="Telefoonnummer">
                        </div>
                        <div class="col-lg-12">
                            <textarea  name="bericht" placeholder="Neem contact met mij op"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <input class="button" type="submit" value="Verstuur" style="background-color: #ce184a">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>    

<div class="skill-area spb">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="skill-title">
                    <h2>Onze tech</h2>
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 single-skill">
                        <h4>HTML5 &amp; CSS3</h4>
                    </div>
                    <div class="col-sm-6 single-skill">
                        <h4>Angular React Vue</h4>
                    </div>
                    <div class="col-sm-6 single-skill">
                        <h4>C# .NET</h4>
                    </div>
                    <div class="col-sm-6 single-skill">
                        <h4>DevOps Azure AWS</h4>
                    </div>
                    <div class="col-sm-6 single-skill">
                        <h4>Business Analyse</h4>
                    </div>
                    <div class="col-sm-6 single-skill">
                        <h4>Sitecore Optimizely</h4>
                    </div>
                    <div class="col-sm-6 single-skill">
                        <h4>Native Android &amp; iOS</h4>
                    </div>
                    <div class="col-sm-6 single-skill">
                        <h4>Kotlin Flutter</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
       
<div class="spb">
    <div class="brand-area">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>   
</div>
   