---
layout: "layouts/simple2.njk"
title: "Vacatures"
description: "Wij werven voor de volgende vacatures:"
---
   
{% block postContent %}


<div class="service-area">
    <div class="container">
        
        <div class="row">

            {% for vacature in collections.vacatures %}
            <div class="col-lg-4 col-md-6 pb-4">
            <div class="icon-box">
              <div class="icon">
                <i style="color: #ff689b;"></i>
              </div>
              <h4 class="vacature-titel"><a href="{{ vacature.data.url }}" style="color: #37b4ce">{{ vacature.data.title }}</a></h4>
              <p>{{ vacature.data.description }}</p>
            </div>
          </div>
            {% endfor %}
         </div>
    </div>
</div>   


{% endblock postContent %}
